.create-an-account {
  display: flex;
  flex-direction: column;
  width: 350px;
  width: 80%;
  margin: 40px auto;

  form {
    width: 100%;
  }

  .input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
    margin-bottom: 20px;
    width: 100%;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
    transition: 0.2s all;
    cursor: text;
  }
  input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #979797;
    box-shadow: none;
    color: #111;
    background-color: transparent;
  }
  input:invalid {
    outline: 0;
    // color: #ff2300;
    //   border-color: #ff2300;
  }
  input:focus,
  input:valid {
    border-color: #979797;
  }
  input:focus ~ label,
  input:valid ~ label {
    font-size: 14px;
    top: -24px;
    color: #979797;
  }

  .submit-btn {
    background-color: #ef3636;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    max-width: 300px;
    text-align: center;
    border-radius: 3px;
    outline: none;
  }

  .create-acccount {
    color: #ef3636;
    margin-top: 10px;
  }
}
