* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// reset
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

// import app components
@import "./helpers/customeClasses.scss";
@import "./components/BlackFriday.scss";
